.container {
    border: solid;
    color: grey;
    background-color: rgb(237, 229, 229);
    width: 500px;
    height: 600px;
    
}

#operator-container {
    justify-self: center;;
    justify-content: space-between;
    border: solid;
    color: green;
    margin: 20px;
    padding: 10px;
    width: 400px;
    height: 80px;
}

.operator-button {
    aspect-ratio: 1 / 1;
    width: 60px;
    font-size: 20px;
}

#display {
    width: 400px;
    height: 80px;
    margin: 40px;
    padding: 10px;
    border: solid;
    color: blue;
    background-color: grey;
    justify-self: center;
    font-size: 60px;
    text-decoration-color: rgb(59, 58, 58);
    font-family: sans-serif;
    text-align: right;
}

#number-container {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: space-between;
    border: solid;
    color:red;
    width: 400px;
    height: 250px;
    margin: 20px;
}

.number-button, #equal-button, #ans-button {
    aspect-ratio: 1 / 1;
    width: calc(100% / 4 - 30px);
    font-size: 20px;
}